<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="first" class="com.sampleSpring.circularDI.First">
<property name="name" value="chandan"></property>
<property name="second" ref="secound"></property>
</bean>

<bean id="first1" class="com.sampleSpring.circularDI.First">
<property name="name" value="chandan"></property>
<property name="second" ref="secound"></property>
</bean>

<bean id="secound" class="com.sampleSpring.circularDI.Second">
<property name="type" value="chandan rr"></property>
<property name="first" ref="first"></property>
</bean>



<bean id="a" class="com.sampleSpring.circularDI.A">
<constructor-arg ref="b"></constructor-arg>
</bean>

<bean id="b" class="com.sampleSpring.circularDI.B">
<constructor-arg ref="a"></constructor-arg>
</bean>



</beans>
